# [DW]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [DW]    Script Date: 5/25/2022 9:42:35 AM ******/
CREATE DATABASE [DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DW.mdf' , SIZE = 12615680KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DW_log.ldf' , SIZE = 21790720KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [DW] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [DW] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [DW] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [DW] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [DW] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [DW] SET ARITHABORT OFF 
GO
ALTER DATABASE [DW] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [DW] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [DW] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [DW] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [DW] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [DW] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [DW] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [DW] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [DW] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [DW] SET  DISABLE_BROKER 
GO
ALTER DATABASE [DW] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [DW] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [DW] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [DW] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [DW] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [DW] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [DW] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [DW] SET RECOVERY FULL 
GO
ALTER DATABASE [DW] SET  MULTI_USER 
GO
ALTER DATABASE [DW] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [DW] SET DB_CHAINING OFF 
GO
ALTER DATABASE [DW] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [DW] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [DW] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [DW] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'DW', N'ON'
GO
ALTER DATABASE [DW] SET QUERY_STORE = OFF
GO

# [dbo].[DATEKONTROLL]

In [0]:
USE [DW]
GO

In [0]:
/****** Object:  UserDefinedFunction [dbo].[DATEKONTROLL]    Script Date: 5/25/2022 9:42:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[DATEKONTROLL] (@SIFFRA VARCHAR(13))
RETURNS VARCHAR(10) AS
BEGIN 
	DECLARE @Date1 DATETIME2, @date VARCHAR(8) =
		CASE 
			WHEN len(@siffra) IN ( 10, 11) 
			THEN lEFT(@siffra, 6)
			WHEN len(@siffra) IN (12,13) 
			THEN LEFT(@siffra, 8)
		END
	DECLARE @siffra1 varchar(6) = 
	CASE 
			WHEN len(@date) = 6 
			THEN @date + right (@siffra, 4)
			WHEN len(@siffra) = 8 
			THEN right(@date,6) + right (@siffra, 4)
		END
		SET @Date1 = convert(DATETIME2, @Date, 102)
		IF (@Date1 <= GetDate() and  DATEADD(yy,-105,Getdate()) <= @DATE1)
		RETURN @siffra1;
		RETURN 0;
END
GO

# [dbo].[DATEKONTROLL1]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[DATEKONTROLL1]    Script Date: 5/25/2022 9:42:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DATEKONTROLL1] (@SIFFRA VARCHAR(13))
RETURNS VARCHAR(10) AS
BEGIN 
	DECLARE @Date1 DATETIME2, @date VARCHAR(8) =
		CASE 
			WHEN len(@siffra) IN ( 10, 11) 
			THEN lEFT(@siffra, 6)
			WHEN len(@siffra) IN (12,13) 
			THEN LEFT(@siffra, 8)
		END
	DECLARE @siffra1 varchar(6) = 
	CASE 
			WHEN len(@date) = 6 
			THEN @date + right (@siffra, 4)
			WHEN len(@siffra) = 8 
			THEN (right(@date,6) + right (@siffra, 4))
		END
		SET @Date1 = convert(DATETIME2, @Date, 102)
		IF (@Date1 <= GetDate() and  DATEADD(yy,-105,Getdate()) <= @DATE1)
		RETURN @siffra1;
		RETURN 0;
END
GO

# [dbo].[DATEKONTROLL11]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[DATEKONTROLL11]    Script Date: 5/25/2022 9:42:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DATEKONTROLL11] (@SIFFRA VARCHAR(13))
RETURNS VARCHAR(10) AS
BEGIN 
	DECLARE @Date1 DATETIME2, @date VARCHAR(8) =
		CASE 
			WHEN len(@siffra) IN ( 10, 11) 
			THEN lEFT(@siffra, 6)
			WHEN len(@siffra) IN (12,13) 
			THEN LEFT(@siffra, 8)
		END
	DECLARE @siffra1 varchar(10) = 
	CASE 
			WHEN len(@date) = 6 
			THEN @date + right (@siffra, 4)
			WHEN len(@siffra) = 8 
			THEN (right(@date,6) + right (@siffra, 4))
	END
		SET @Date1 = convert(DATETIME2, @Date, 102)
		IF (@Date1 <= GetDate() and  DATEADD(yy,-105,Getdate()) <= @DATE1)
		RETURN @siffra1;
		RETURN 0;
END
GO

# [dbo].[DATEKONTROLL111]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[DATEKONTROLL111]    Script Date: 5/25/2022 9:42:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DATEKONTROLL111] (@SIFFRA VARCHAR(13))
RETURNS VARCHAR(10) AS
BEGIN 
	DECLARE @Date1 DATETIME2, @date VARCHAR(8) =
		CASE 
			WHEN len(@siffra) IN ( 10, 11) 
			THEN lEFT(@siffra, 6)
			WHEN len(@siffra) IN (12,13) 
			THEN LEFT(@siffra, 8)
		END
	DECLARE @siffra1 varchar(10) = 
	CASE 
			WHEN len(@date) = 6 
			THEN @date + right(@siffra, 4)
			WHEN len(@date) = 8 
			THEN (right(@date, 6) + right(@siffra, 4))
	END
		SET @Date1 = convert(DATETIME2, @Date, 102)
		IF (@Date1 <= GetDate() and  DATEADD(yy,-105,Getdate()) <= @DATE1)
		RETURN @siffra1;
		RETURN 0;
END
GO

# [dbo].[Kontrollsiffra]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[Kontrollsiffra]    Script Date: 5/25/2022 9:42:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************
KONTROLLSIFFRA
ITZUL L. VERGARA

LITE FAKTA:
-Första delen handlar om datum och kontrollerar att datum stämmer och förbereder siffrorna för att kunna loopa dem. 

-Andra delen är en loop (WHILE) som börjar med om datum är rätt: 
Det betyder att datumet är bra skrivet samt att det handlar om en begränsad tidsperiod mellan nutid och 105 år tillbaka i tiden.

************************/

CREATE FUNCTION [dbo].[Kontrollsiffra] (@SIFFRA VARCHAR(13))
RETURNS CHAR(1) AS 
BEGIN 
	DECLARE @Count INT 
	, @Part INT, @Div INT
	, @Rest INT
	, @Total INT =0, @Suma INT
	, @Sista TINYINT
	, @Control INT
	, @Date1 DATETIME2
	, @personalnum VARCHAR(10)
	, @date VARCHAR(8) =
		CASE 
			WHEN LEN(@siffra) IN ( 10, 11) 
			THEN LEFT(@siffra, 6)
			WHEN LEN(@siffra) IN (12,13) 
			THEN LEFT(@siffra, 8)
		END
	DECLARE @Siffra1 VARCHAR(10) =  
	CASE 
			WHEN LEN(@date) = 6 
			   THEN @Date + RIGHT(@siffra, 4)
			WHEN LEN(@date) = 8 
			   THEN RIGHT(@date,6) + RIGHT(@siffra, 4)
		END
		SET @Date1 = CONVERT(DATETIME2, @Date, 102) 
		SET @Sista= (10 - RIGHT(@total,1))
		SET @Count = 1
		SET @Control = (RIGHT(@Personalnum, 1))
		SET @personalnum = 
			CASE 
			  WHEN (@Date1 <= GETDATE() AND  DATEADD(yy,-105,GETDATE()) <= @Date1)
			  THEN CONVERT(BIGINT,(@siffra1))
			  WHEN (@Date1 > GETDATE() AND  DATEADD(yy,-105,GETDATE()) > @Date1)
			  THEN 0
		END
SET @Count = 1
	WHILE(@Count  <  10) 
	BEGIN
			SET @Part = (CAST(SUBSTRING(@Personalnum,LEN(@personalnum) - @Count, 1)AS TINYINT)) * (1 + @Count % 2)
	IF 1 + @Count % 2 = 2
	BEGIN
		SET @Div = @part % 10
		SET @Rest = @part / 10
		SET @Suma = @Rest +  @Div
	END
	   ELSE IF 1 + @Count % 2 = 1
			BEGIN
			    SET @Suma = @part * 1
			END
	    SET @total = @total + @Suma
	    SET @Count = @Count + 1
	END

	SET @Sista =(10 - RIGHT(@total,1));
	SET @Control  = (RIGHT(@personalnum,1));
 IF(@Sista = @Control) OR (@Sista = 10 and @Control = 0) 
 --Extra villkor finns för personnummner som slutar med 0, då det blir fel om man inte tar hänsyn till det.
	RETURN  1;
 ELSE
	RETURN  0;
RETURN 0;
END

GO

# [dbo].[kontrolsiffra]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[kontrolsiffra]    Script Date: 5/25/2022 9:42:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[kontrolsiffra] (@siffra varchar(10))
RETURNS INT
	AS 
	BEGIN 
	DECLARE @math1 VARCHAR(10) = dbo.DATEKONTROLL(@Siffra)
	DECLARE @math INT = cast (substring(@math1, 1,1) AS INT)*2,
	 @MATH2 INT =  cast(substring(@math1, 2,1) AS INT), 
	 @MATH3 INT  =  CAST (SUBSTRING(@math1, 3, 1)AS INT)*2,
	 @MATH4 INT =  cast(substring(@math1, 4,1) AS INT),
	 @math5 INT = cast (substring(@math1, 5,1) AS INT)*2,
	 @MATH6 INT =  cast(substring(@math1, 6,1) AS INT), 
	 @MATH7 INT  =  CAST (SUBSTRING(@math1, 7, 1)AS INT)*2,
	 @MATH8 INT =  cast(substring(@math1, 8,1) AS INT), 
	 @MATH9 INT  =  CAST (SUBSTRING(@math1, 9, 1)AS INT)*2,
	 @MATH10 INT =  cast(substring(@math1, 10, 1) AS INT)
		DECLARE @siffra1 int  =
					CASE
						WHEN  @math < 9 THEN  @math
						WHEN  @Math   between 10 and 18 then  cast(LEFT(@math, 1) as tinyint) + convert (tinyint, RIGHT(@math,1))  
					END
		DECLARE @siffra2 int  =
					CASE
						WHEN  @math2 < 9 THEN  @math2
						WHEN  @Math2 between 10 and 18 then cast(LEFT(@math2, 1) as tinyint) + convert (tinyint, RIGHT(@math2,1))  
					END
		DECLARE @siffra3 int  =
					CASE
						WHEN  @math3 < 9 THEN  @math3
						WHEN  @Math3   between 10 and 18 then  cast(LEFT(@math3, 1) as tinyint) + convert (tinyint, RIGHT(@math3,1)) 
					END
	    DECLARE @siffra4 int  =
					CASE
						WHEN  @math4 < 9 THEN  @math4
						WHEN  @Math4   between 10 and 18 then  cast(LEFT(@math4, 1) as tinyint) + convert (tinyint, RIGHT(@math4,1))  
					END
		DECLARE @siffra5 int  =
					CASE
						WHEN  @math5 < 9 THEN  @math5
						WHEN  @Math5 between 10 and 18 then cast(LEFT(@math5, 1) as tinyint) + convert (tinyint, RIGHT(@math5,1))  
					END
		DECLARE @siffra6 int  =
					CASE
						WHEN  @math6 < 9 THEN  @math6
						WHEN  @Math6   between 10 and 18 then  cast(LEFT(@math6, 1) as tinyint) + convert (tinyint, RIGHT(@math6,1)) 
					END
		DECLARE @siffra7 int  =
					CASE
						WHEN  @math7 < 9 THEN  @math7
						WHEN  @Math7   between 10 and 18 then  cast(LEFT(@math7, 1) as tinyint) + convert (tinyint, RIGHT(@math7,1))  
					END
		DECLARE @siffra8 int  =
					CASE
						WHEN  @math8 < 9 THEN  @math8
						WHEN  @Math8 between 10 and 18 then cast(LEFT(@math8, 1) as tinyint) + convert (tinyint, RIGHT(@math8,1))  
					END
		DECLARE @siffra9 int  =
					CASE
						WHEN  @math9 < 9 THEN  @math9
						WHEN  @Math9   between 10 and 18 then  cast(LEFT(@math9, 1) as tinyint) + convert (tinyint, RIGHT(@math9,1)) 
					END
		DECLARE @siffra10 int  =
					CASE
						WHEN  @math10 < 9 THEN  @math10
						WHEN  @Math10   between 10 and 18 then  cast(LEFT(@math10, 1) as tinyint) + convert (tinyint, RIGHT(@math10,1)) 
					END
	DECLARE @siffraT INT =
					( @siffra1 + @siffra2 + @siffra3 + @siffra4 + @siffra5 + @siffra6 + @siffra7 + @siffra8 + @siffra9 + @siffra10)
	
	IF (@siffraT %10 = 0)
	RETURN @siffraT; 
	RETURN 0; 
END
GO

# [dbo].[DimCarrier]

In [0]:
/****** Object:  Table [dbo].[DimCarrier]    Script Date: 5/25/2022 9:42:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCarrier](
	[CarrierID] [varchar](5) NOT NULL,
	[Description] [varchar](60) NULL,
 CONSTRAINT [PK_DimCarrier] PRIMARY KEY CLUSTERED 
(
	[CarrierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[DimDate]

In [0]:
/****** Object:  Table [dbo].[DimDate]    Script Date: 5/25/2022 9:42:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateID] [int] NOT NULL,
	[Date] [date] NULL,
	[FullDate] [varchar](25) NULL,
	[Year] [int] NULL,
	[YearMonth] [char](7) NULL,
	[QuarterText] [char](2) NULL,
	[QuarterNumber] [tinyint] NULL,
	[MonthText] [varchar](15) NULL,
	[MonthNumber] [tinyint] NULL,
	[Week] [tinyint] NULL,
	[DayOfWeekText] [varchar](10) NULL,
	[DayOfWeekNumber] [tinyint] NULL,
	[DayOfMonth] [tinyint] NULL,
	[Weekday] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[DateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[DimPlane]

In [0]:
/****** Object:  Table [dbo].[DimPlane]    Script Date: 5/25/2022 9:42:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPlane](
	[Tailnumber] [varchar](10) NOT NULL,
	[OwnerType] [varchar](50) NULL,
	[Manufacturer] [varchar](50) NULL,
	[IssueDate] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[AircraftType] [varchar](50) NULL,
	[EngineType] [varchar](50) NULL,
	[Year] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Tailnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[DimRoutes]

In [0]:
/****** Object:  Table [dbo].[DimRoutes]    Script Date: 5/25/2022 9:42:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimRoutes](
	[RouteID] [int] NOT NULL,
	[Origin.Airport] [varchar](3) NULL,
	[Distance] [varchar](10) NULL,
	[Origin.AirportID] [varchar](5) NULL,
	[Origin.AirportName] [varchar](41) NULL,
	[Origin.City] [varchar](33) NULL,
	[Origin.State] [varchar](2) NULL,
	[Origin.Country] [varchar](30) NULL,
	[Origin.Latitude] [real] NULL,
	[Origin.Longitude] [real] NULL,
	[Destination] [varchar](3) NULL,
	[Destination.AirportID] [varchar](5) NULL,
	[Destination.AirportName] [varchar](41) NULL,
	[Destination.City] [varchar](33) NULL,
	[Destination.State] [varchar](2) NULL,
	[Destination.Country] [varchar](30) NULL,
	[Destination.Latitude] [real] NULL,
	[Destination.Longitude] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[RouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[FactFlight]

In [0]:
/****** Object:  Table [dbo].[FactFlight]    Script Date: 5/25/2022 9:42:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactFlight](
	[CarrierID] [varchar](5) NULL,
	[RouteID] [int] NOT NULL,
	[DateID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Year] [smallint] NULL,
	[Month] [tinyint] NULL,
	[DayofMonth] [tinyint] NULL,
	[DayOfWeek] [tinyint] NULL,
	[FlightNum] [varchar](5) NULL,
	[Tailnumber] [varchar](10) NOT NULL,
	[Origin] [varchar](5) NULL,
	[Destination] [varchar](5) NULL,
	[Distance] [varchar](10) NULL,
	[TaxiIn] [varchar](3) NULL,
	[TaxiOut] [varchar](3) NULL,
	[Cancelled] [varchar](2) NULL,
	[CancellationCode] [varchar](5) NULL,
	[Diverted] [varchar](5) NULL,
	[CarrierDelay] [varchar](5) NULL,
	[WeatherDelay] [varchar](5) NULL,
	[NASDelay] [varchar](5) NULL,
	[SecurityDelay] [varchar](5) NULL,
	[LateAircraftDelay] [varchar](5) NULL,
	[ActualElapsedTime] [int] NULL,
	[AirTime] [int] NULL,
	[ArrDelay] [int] NULL,
	[DepDelay] [int] NULL,
	[CRSDepTime] [time](0) NULL,
	[ArrTime] [time](0) NULL,
	[DepTime] [time](0) NULL,
	[CRSArrTime] [time](0) NULL,
	[FlightID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_FlightID] PRIMARY KEY CLUSTERED 
(
	[FlightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [FK_CarrierID]

In [0]:
ALTER TABLE [dbo].[FactFlight]  WITH CHECK ADD  CONSTRAINT [FK_CarrierID] FOREIGN KEY([CarrierID])
REFERENCES [dbo].[DimCarrier] ([CarrierID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FactFlight] CHECK CONSTRAINT [FK_CarrierID]
GO

# [FK_DimDate]

In [0]:
ALTER TABLE [dbo].[FactFlight]  WITH CHECK ADD  CONSTRAINT [FK_DimDate] FOREIGN KEY([DateID])
REFERENCES [dbo].[DimDate] ([DateID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FactFlight] CHECK CONSTRAINT [FK_DimDate]
GO

# [FK_RoutesID]

In [0]:
ALTER TABLE [dbo].[FactFlight]  WITH CHECK ADD  CONSTRAINT [FK_RoutesID] FOREIGN KEY([RouteID])
REFERENCES [dbo].[DimRoutes] ([RouteID])
GO
ALTER TABLE [dbo].[FactFlight] CHECK CONSTRAINT [FK_RoutesID]
GO

# [FK_Tailnumber]

In [0]:
ALTER TABLE [dbo].[FactFlight]  WITH CHECK ADD  CONSTRAINT [FK_Tailnumber] FOREIGN KEY([Tailnumber])
REFERENCES [dbo].[DimPlane] ([Tailnumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FactFlight] CHECK CONSTRAINT [FK_Tailnumber]
GO

# [dbo].[usp_FillDimDate]

In [0]:
/****** Object:  StoredProcedure [dbo].[usp_FillDimDate]    Script Date: 5/25/2022 9:42:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[usp_FillDimDate] (@StartDate datetime2, @NoOfYears int)
as 
	begin
    set nocount on
set language swedish
declare @DateToAdd datetime2
declare @EndDate datetime2
declare @cnt int	
set @EndDate = dateadd(year, @NoOfYears, @StartDate)
set @DateToAdd = @StartDate
while @DateToAdd < @EndDate 
	begin
select @cnt = count(*) from DimDate 
where [DateID] = cast(convert(char(10), @DateToAdd, 112) as int) 
if @cnt = 0   -- datumet finns inte, lägg in det i DimDate-tabellen
	begin
insert into DimDate 
select 
cast(convert(char(10), @DateToAdd, 112) as int) as [DateID]	
, cast(convert(char(10), @DateToAdd, 120) as date) as [Date]		
, cast(format(@DateToAdd, 'D', 'sv-se') as varchar(25)) as [FullDate]	
, datepart(year, @DateToAdd) as [Year]			
, convert(char(7), @DateToAdd, 120) as [YearMonth]		
, 'Q' + cast(datename(quarter, @DateToAdd) as char(2)) as [QuarterText]		
, datepart(quarter, @DateToAdd) as [QuarterNumber]		
, datename(month, @DateToAdd) as [MonthText]		
, datepart(month, @DateToAdd) as [MonthNumber]
,CAST(DATEPART(ISO_WEEK, @DateToAdd) AS TINYINT) AS [Week]
, cast(datename(weekday, @DateToAdd) as varchar(10)) as [DayOfWeek]		
, datepart(weekday, @DateToAdd) as [DayOfWeekNumber]	
, datepart(day, @DateToAdd) as [DayOfMonth]		
, case when datepart(weekday, @DateToAdd) between 1 and 5	
then 1	
else 0 
end as [Weekday]

end
set @DateToAdd = dateadd(dd, 1, @DateToAdd)
end
set language us_english
set nocount off


end


GO

# [DW]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [DW] SET  READ_WRITE 
GO